@import "tailwindcss";

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    @apply bg-gray-900 text-white antialiased;
    overscroll-behavior: none;
  }
}
